{{#if anyOf}}
    {{#>json-schema/util/section sections='anyOf' title='Must match any of'}}
        <div class="json-schema--subschema-group">
        {{#each anyOf}}
            <div class="json-schema--subschema">
                {{>json-schema/schema .}}
            </div>
        {{/each}}
        </div>
    {{/json-schema/util/section}}
{{/if}}
