{{#if oneOf}}
    {{#>json-schema/util/section sections='oneOf' title='Must match exactly one of'}}
        <div class="json-schema--subschema-group">
            {{#each oneOf}}
                <div class="json-schema--subschema">
                    {{>json-schema/schema .}}
                </div>
            {{/each}}
        </div>
    {{/json-schema/util/section}}
{{/if}}
