{{!--
   Renders the main-schema as panel and the sub-schemas below.
   This partial can be overridden if json-schema is only part of
   what should be displayed.
   @public
--}}

<div id="json-schema--main-schema" class="panel panel-main">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{title}}
            </h3>
        </div>
    <div class="panel-body">
        {{>json-schema/schema title=''}}
    </div>
</div>

{{#if definitions}}
    <h2>Definitions</h2>
    {{>json-schema/definitions}}
{{/if}}
