{{!--
   Helper partial to render a restriction (array, numeric etc).
   Use as block-partial

   @param {string} sections a coma-separated list of section names (i.e. items, additionalItems)
   @param {string} title a title for the restrictions
--}}
<section class="json-schema--section" data-keywords="{{sections}}">
    <div class="header" title="{{title}}">
        {{title}}
        <span class="json-schema--section-links">({{#each (json_schema__split_coma sections)~}}
            {{json_schema__doclink 'keywords' .}}{{#unless @last}}, {{/unless}}
        {{~/each}})
        </span>
    </div>
    <div class="contents">
        {{>@partial-block}}
    </div>
</section>
