{{!--
Render a list of example values
@this {*[]} the list of values
--}}
<div class="json-schema--values">
    {{#each .}}
        <div class="json-schema--value-item">
            <div class="header">Example</div>
            {{>json-schema/util/value .}}
        </div>
    {{/each}}
</div>
